@using Lab2.Models.Entities
@model List<ForumThread>

<table>
    <tr>
        <th>
            @Html.LabelFor(p => p.FirstOrDefault().Title)
        </th>
        <th>
            @Html.LabelFor(p => p.FirstOrDefault().CreateDate)
        </th>
    </tr>
    @foreach (var thread in Model) 
    {
    
     <tr>
        <td>
           @Html.ActionLink(thread.Title, "Thread" + "/" + thread.ID)
        </td>
        <td>
           @thread.CreateDate
        </td>
    </tr>
        
    }
 </table>